body{
    margin: 0px;
    padding: 0;
    background-color: lightslategrey;
}

#grid, .grid-row, .grid-cell {
    border: 3px solid black;
    border-collapse: collapse;
    padding: 30px;
    /*background-color: none;*/
}
.navbar{
    position: relative;
    background-color: darkslategrey;
    width: 100%;
}